.dashboard-pedidos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f0f0f0;
}

.dashboard-pedidos .page {
  display: flex;
  align-items: flex-start;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.side-bar-menu {
  display: flex;
  flex-direction: column;
  width: 256px;
  align-items: center;
  position: relative;
  align-self: stretch;
  background-color: var(--roxo-vaptroxo-vapt-900);
}

.dashboard-pedidos .body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
}

.dashboard-pedidos .linha {
  display: flex;
  justify-content: space-between; /* Ajusta o espaço entre os itens */
  gap: 16px;
  width: 100%;
}
.dashboard-pedidos .coluna {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.dashboard-pedidos .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  padding: 24px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--dropshadow);
}


.dashboard-pedidos .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--t-tulos-grandes-font-family);
  font-weight: var(--t-tulos-grandes-font-weight);
  color: var(--roxo-vaptroxo-vapt-oficial);
  font-size: var(--t-tulos-grandes-font-size);
  letter-spacing: var(--t-tulos-grandes-letter-spacing);
  line-height: var(--t-tulos-grandes-line-height);
  font-style: var(--t-tulos-grandes-font-style);
}

.p {
  position: relative;
  align-self: stretch;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: var(--roxo-vaptroxo-vapt-secundrio);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 77px;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px 16px;
  position: relative;
  background-color: var(--amarelo-vaptamarelo-vapt-oficial);
  border-radius: 4px;
}

.linha-2 {
  height: 134px;
  gap: 8px;
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: var(--roxo-vaptroxo-vapt-500);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--dropshadow);
}
.title-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--t-tulos-pequenos-font-family);
  font-weight: var(--t-tulos-pequenos-font-weight);
  color: #ffffff;
  font-size: var(--t-tulos-pequenos-font-size);
  text-align: center;
  letter-spacing: var(--t-tulos-pequenos-letter-spacing);
  line-height: var (--t-tulos-pequenos-line-height);
  font-style: var (--t-tulos-pequenos-font-style);
}
.element {
  position: relative;
  flex: 1;
  align-self: stretch;
  font-family: "Open Sans", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.buttons-2 {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: var(--roxo-vaptroxo-vapt-50);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--roxo-vaptroxo-vapt-300);
  box-shadow: var(--dropshadow);
}
.title-4 {
  color: #FFF;

  text-align: center;
  /* Títulos pequenos */
  font-family: "Open Sans";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.element-2 {
  position: relative;
  flex: 1;
  align-self: stretch;
  font-family: "Open Sans", Helvetica;
  font-weight: 800;
  color: var(--roxo-vaptroxo-vapt-500);
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.coluna-2 {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}
 .linha-banners {
  flex-direction: column;
  gap: 16px;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}
 .banner {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--roxo-vaptroxo-vapt-secundrio);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--dropshadow);
}

.span {
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #f9b725;
  font-size: 20px;
  letter-spacing: 0;
}

.text-wrapper-3 {
  font-weight: 700;
  text-decoration: underline;
  color: var(--Amarelo-Vapt-Amarelo-Vapt-OFICIAL, #F9B725);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}

.text-wrapper-3:hover {
  color: var(--Amarelo-Vapt-Amarelo-Vapt-OFICIAL, #F9B725);
  text-decoration: underline; 
}

.bar-graph {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--dropshadow);
}


.card-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--dropshadow);
}

.text-pedidos {
  color: var(--Roxo-Vapt-Roxo-Vapt-500, #7F3B84);
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.25rem;
  display: flex;
  font-style: normal;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: normal;
}

.frame-3 {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.text-wrapper-9 {
  align-self: stretch;
  font-weight: var(--bodytext-inter-14-regular-font-weight);
  color: #000000;
  font-size: var(--bodytext-inter-14-regular-font-size);
  line-height: var(--bodytext-inter-14-regular-line-height);
  position: relative;
  margin-top: -1px;
  letter-spacing: var (--bodytext-inter-14-regular-letter-spacing);
  font-style: var (--bodytext-inter-14-regular-font-style);
}

.select {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  padding: 8px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  background-color: var(--gray-0210);
  border-radius: 4px;
  border: 1px solid var(--Gray_02-50, #C2C2C2);
  background: var(--Gray_02-10, #FFF);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

.select-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  padding: 2px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.datepicker-button {
  background: none;
  border: none;
  padding: 0;
}

.datepicker {
  padding: 0;
  border: none;
}

.select-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--gray-0270);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.caret-down {
  position: relative;
  width: 16px;
  height: 16px;
}

.select-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  color: var (--gray-0270);
  line-height: var (--bodytext-inter-14-regular-line-height);
  white-space: nowrap;
  font-style: var (--bodytext-inter-14-regular-font-style);
}

.img-2 {
  position: relative;
  width: 20px;
  height: 20px;
}

.button-3,
.button-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-3 {
  background-color: #eeedff;
  border-color: #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.button-4 {
  background-color: var(--roxo-vaptroxo-vapt-600);
  border-color: var(--roxo-vaptroxo-vapt-600);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: white;
}

.button-3:active,
.button-4:active {
  background-color: #ccc;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.linha-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.button-4:active {
  background-color: #b6aec0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.button-3:focus,
.button-4:focus {
  outline: none;
}

.pedido-btn.active,
.pedido-btn:hover,
.pedido-btn:focus {
  background-color: var(--Roxo-Vapt-Roxo-Vapt-500, #7F3B84);
  color: #fff;
}

.pedido-btn .title-4,
.pedido-btn .element-2 {
  color: var(--roxo-vaptroxo-vapt-500);
}

.pedido-btn.active .title-4,
.pedido-btn.active .element-2,
.pedido-btn:hover .title-4,
.pedido-btn:hover .element-2,
.pedido-btn:focus .title-4,
.pedido-btn:focus .element-2 {
  color: #fff;
}

.text-wrapperfilter {
  color: var(--Roxo-Vapt-Roxo-Vapt-500, #7F3B84);
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-wrapperfilter, .text-pedidos, .title-4, .element-2 {
  text-transform: none;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.button-pedido:focus{
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.button-pedido {
  background-color: var(--amarelo-vaptamarelo-vapt-oficial);
  display: flex;
  width: 4.8125rem;
  height: 2.25rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  color: var(--Roxo-Vapt-Roxo-Vapt-OFICIAL);
  font-family: "Open Sans";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-pedido:hover {
  background-color: #979797;
}

#pedidos-tbody {
  align-items: end;
}


.cabecalho {
  background-color: var(--roxo-vaptroxo-vapt-oficial);
  color: #ffffff;
  font-family: var(--t-tulos-pequenos-em-BOLD-font-family);
  font-weight: var(--t-tulos-pequenos-em-BOLD-font-weight);
  font-size: var(--t-tulos-pequenos-em-BOLD-font-size);
  text-align: center;
  line-height: var(--t-tulos-pequenos-em-BOLD-line-height);
}

#telefone {
  text-align: end;
}

.cabecalho th {
  border-bottom: 1px solid #979797;
}

.tabela tbody tr {
  min-height: 50px;
  background-color: #ffffff;
}

.tabela tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabela tbody tr:hover {
  background-color: #e2e6ea;
}

.tabela td {
  padding: 1.375rem;
  border-bottom: 1px solid #b3b3b3;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: var(--roxo-vaptroxo-vapt-700);
  font-size: 0.80rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

.linha-3 {
  padding: 4rem;
}

@media (max-width: 1440px) {
  .linha,
  .linha-2,
  .coluna,
  .coluna-2 {
      flex-direction: column;
      align-items: stretch;
  }

  .tabela {
      width: 100%;
      overflow-x: auto;
  }

  .bar-graph {
      width: 100%;
      padding: 16px;
  }


  .card, .banner, .card-2 {
      padding: 16px;
  }

  .element-2 {
      font-size: 24px;
  }

  .text-wrapper-2, .title-3, .title-4, .text-wrapperfilter {
      font-size: 1rem;
  }

  .button-pedido {
      width: 100%;
      padding: 8px;
      font-size: 0.75rem;
  }
}

.datepicker {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

.selectnf {
  padding: 9px 12px;
}

.datepicker .datepicker-days table {
  width: 100%;
}

.datepicker .datepicker-days th,
.datepicker .datepicker-days td {
  padding: 9px;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.datepicker .datepicker-days th {
  background-color: #f7f7f7;
  font-weight: bold;
}

.datepicker .datepicker-days td {
  cursor: pointer;
}

.datepicker .datepicker-days td:hover {
  background-color: #eaeaea;
}

.datepicker .datepicker-days td.active,
.datepicker .datepicker-days td.active:hover {
  background-color: #007bff;
  color: #fff;
}

.datepicker .datepicker-days td.today {
  background-color: #f7f7f7;
  color: #007bff;
  font-weight: bold;
}

.datepicker .datepicker-days td.disabled,
.datepicker .datepicker-days td.disabled:hover {
  background-color: #eaeaea;
  color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 1024px)  and (max-width: 1440px){
  .linha,
  .linha-2,
  .coluna,
  .coluna-2 {
      flex-direction: column;
      align-items: stretch;
  }

  .dashboard-pedidos .linha {
    flex-direction: column;
    align-items: center;
  }

  .custom-line {
    width: 100%;
    height: 1px;
    background-color: #007bff;
    margin: 20px 0;
  }


  .tabela {
      width: 100%;
      overflow-x: auto;
  }

  .bar-graph {
      width: 100%;
      padding: 16px;
  }

  .element-2 {
      font-size: 24px;
  }

  .text-wrapper-2, .title-3, .title-4, .text-wrapperfilter {
      font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .linha,
  .linha-2,
  .coluna,
  .coluna-2 {
      flex-direction: column;
      align-items: stretch;
  }

  .tabela {
      width: 100%;
      overflow-x: auto;
  }

  .bar-graph {
      width: 100%;
      padding: 16px;
  }
}

.dashboard-pedidos {
  width: 100%;
}


@media (max-width: 576px) {
  .tabela td {
      font-size: 10px;
      padding: 10px;
  }
}

.datepicker {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

.selectnf {
  padding: 9px 12px;
}

.datepicker .datepicker-days table {
  width: 100%;
}

.datepicker .datepicker-days th,
.datepicker .datepicker-days td {
  padding: 9px;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.datepicker .datepicker-days th {
  background-color: #f7f7f7;
  font-weight: bold;
}

.datepicker .datepicker-days td {
  cursor: pointer;
}

.datepicker .datepicker-days td:hover {
  background-color: #eaeaea;
}

.datepicker .datepicker-days td.active,
.datepicker .datepicker-days td.active:hover {
  background-color: #007bff;
  color: #fff;
}

.datepicker .datepicker-days td.today {
  background-color: #f7f7f7;
  color: #007bff;
  font-weight: bold;
}

.datepicker .datepicker-days td.disabled,
.datepicker .datepicker-days td.disabled:hover {
  background-color: #eaeaea;
  color: #ccc;
  cursor: not-allowed;
}

.datepicker-dropdown {
  margin-bottom: 10px !important;
  margin-left: -8.9px !important;
}

.datepicker-dropdown:before,
.datepicker-dropdown:after {
  display: none !important; 
}

#detailsModal .modal-dialog {
  width: 80%; 
  max-width: 35.2%; 
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
}

#detailsModal .modal-content {
  height: 100vh;
  border: 0;
  border-radius: 0;
}

#detailsModal .modal-header {
  background-color: #7F3B84;
  color: #fff;
}

#detailsModal .modal-body {
  padding: 20px;
  height: calc(100vh - 56px);
  overflow-y: auto;
}

@media (min-width: 576px) {
  .modal-dialog-scrollable .modal-content {
      max-height: none; 
  }
}

.modal-dialog-scrollable .modal-content {
  max-height: none; 
  overflow: hidden;
}

@keyframes slideInFromRight {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideOutToRight {
  0% {
      transform: translateX(0);
      opacity: 1;
  }
  100% {
      transform: translateX(100%);
      opacity: 0;
  }
}

#detailsModal {
  display: none;
  animation: slideInFromRight 0.5s forwards;
}

.modal-open #detailsModal {
  display: block;
  animation: slideInFromRight 0.5s forwards;
}

.modal-closing #detailsModal {
  animation: slideOutToRight 0.5s forwards;
}

.pedido-id {
  font-size: 2rem;
  font-weight: var(--t-tulos-grandes-font-weight);
  font-family: 'Open Sans';
  color: #3E2155;
}

.rotas-btn {
  margin-bottom: 20px;
}

.div-rota {
  background-color: #8a4fb7;
  padding: .1875rem 0.875rem;
  border-radius: 5px;
  color: #fff;

}
.text-wrapper {
  font-family: var(--t-tulos-grandes-font-family);
  color: #F9B725;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

strong {
  margin-right: 0.15rem;

  font-family: var(--t-tulos-pequenos-font-family);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

#modal-span {
  color: #000;

  font-family: var(--t-tulos-pequenos-font-family);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.custom-line {
  width: 100%;
  height: 1px;
  background: #D7BED9;
  margin: 20px 0;
}

.map-modal {
  height: 300px;
  width: 100%;
}

.map-pin {
  gap: 1rem;
  padding: 0.25rem;
  align-items: flex-start;
  gap: 0.5rem;

  border-radius: 2.1875rem;
  background: var(--Roxo-Vapt-Roxo-Vapt-Secundrio, #783FA6);
}

.p-map-modal {
  color: #818181;

  font-family: var(--t-tulos-pequenos-font-family);
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.strong-pin {
  margin-right: 0.15rem;

  font-family: var(--t-tulos-pequenos-font-family);
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.div-title-map {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 1.12rem;
}

.map {
  height: 15.4375rem;

  border-radius: 0.5rem;
  background: #D9D9D9;
  margin-bottom: 1rem;
}

.p-modal {
  margin-top: 0.5rem;
}

.line-sidebar {
  width: 13rem;
  height: 0.0625rem;
  background: #653074;
  margin: 20px 0;
}