.transporte-agendar {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: flex-start;
  position: relative;
  background-color: #f0f0f0;
}

.transporte-agendar a {
  text-decoration: none;
  cursor: pointer;
}

.active {
  background: #783FA6;
}

.transporte-agendar .page {
  display: flex;
  align-items: flex-start;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.side-bar-menu {
  display: flex;
  flex-direction: column;
  width: 256px;
  align-items: center;
  position: relative;
  align-self: stretch;
  background-color: var(--roxo-vaptroxo-vapt-900);
}

.div-2:hover,
.div-2:focus {
  border-radius: 0.5rem;
  background: #572B6A;
}

.menu-button-group:hover,
.menu-button-group:focus {
  border-radius: 0.5rem;
  background: #572B6A;
}

.menu-button-single:hover,
.menu-button-single:focus{
  border-radius: 0.5rem;
  background: #572B6A;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.logo-branco {
  position: relative;
  width: 119.04px;
  height: 40px;
  object-fit: cover;
}

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.section-painel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: var(--roxo-vaptroxo-vapt-oficial);
}

.title {
  display: flex;
  align-items: flex-start;
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: var(--roxo-vaptroxo-vapt-100);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.menu-button-group {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.img {
  position: relative;
  width: 24px;
  height: 24px;
}

.div {
  flex: 1;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: var(--roxo-vaptroxo-vapt-100);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.div-2 {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.logo-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.menu-button-single {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.title-2 {
  position: relative;
  width: fit-content;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: var(--roxo-vaptroxo-vapt-300);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

.side-bar-menu.collapsed {
  width: 91px;
  transition: width 0.3s;
  animation-timing-function: ease-out;
  animation-duration: 100ms;
}

.side-bar-menu.collapsed .logo-branco {
  transform: rotate(-90deg);
  transition: transform 0.3s;
  top: 2rem;
}

.side-bar-menu.collapsed .div-2,
.side-bar-menu.collapsed .menu-button-group,
.side-bar-menu.collapsed .text-wrapper,
.side-bar-menu.collapsed .title,
.side-bar-menu.collapsed .section-painel,
.side-bar-menu.collapsed .line-sidebar,
.side-bar-menu.collapsed .div {
  display: none;
}

.side-bar-menu.collapsed .logo-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 90%;
  padding-bottom: 16px;
}

.side-bar-menu.collapsed .img {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform: rotate(180deg);
}

.side-bar-menu.collapsed .menu-button-single .title-2 {
  display: none;
}

.side-bar-menu.collapsed .logo-2 .div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.side-bar-menu.collapsed .logo-2 .menu-button-single {
  justify-content: center;
}

.side-bar-menu.collapsed .div-2:hover,
.side-bar-menu.collapsed .menu-button-single:hover {
  background: #783FA6;
  border-radius: 8px;
}

.transporte-agendar .body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  overflow-y: scroll;
}

.transporte-agendar .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--roxo-vaptroxo-vapt-500);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.transporte-agendar .frame {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.transporte-agendar .input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.transporte-agendar .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--t-tulo-bold-14-font-family);
  font-weight: var(--t-tulo-bold-14-font-weight);
  color: var(--roxo-vaptroxo-vapt-oficial);
  font-size: var(--t-tulo-bold-14-font-size);
  letter-spacing: var(--t-tulo-bold-14-letter-spacing);
  line-height: var(--t-tulo-bold-14-line-height);
  font-style: var(--t-tulo-bold-14-font-style);
}

.transporte-agendar .select {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  background-color: var(--gray-0210);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-0250);
  box-shadow: var(--shadow-2);
}

.transporte-agendar .select-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--gray-0270);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}


.transporte-agendar .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 700;
  color: var(--roxo-vaptroxo-vapt-oficial);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.transporte-agendar .input-2 {
  max-width: 208px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
}

.transporte-agendar .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--dropshadow);
}

.transporte-agendar .select-4 {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  background-color: var(--gray-0210);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-0250);
  box-shadow: var(--shadow-2);
}

.transporte-agendar .button-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.button {
  display: flex;
  width: 10.75rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  border-radius: 0.25rem;
  background: var(--Roxo-Vapt-Roxo-Vapt-600, #74377D);
}

.button span {
  color: #FFF;

  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; 
}

.transporte-agendar .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 700;
  color: #3e2155;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.textearea {
  display: flex;
  height: 157px;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-left: -1px;
  margin-right: -1px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-0250);
  box-shadow: var(--shadow-2);
}

.salvarbutton {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;


  border-radius: 0.25rem;
  background: var(--Roxo-Vapt-Roxo-Vapt-600, #74377D);

  color: #FFF;

  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}

.transporte-agendar .button-3 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--roxo-vaptroxo-vapt-600);
  border-radius: 4px;
}

input {
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.frame-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;

}

.buttons-save   {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--roxo-vaptroxo-vapt-600);
  border-radius: 4px;
  cursor: pointer;
}

.transporte-agendar .feather-icons-corner {
  position: relative;
  width: 20px;
  height: 20px;
}

.transporte-agendar .table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.transporte-agendar .frame-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.div-wrapper {
  all: unset;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px 16px;
  background-color: var(--amarelo-vaptamarelo-vapt-oficial);
  border-radius: 4px;
  cursor: pointer;
}

.transporte-agendar .button-5 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--t-tulos-pequenos-em-BOLD-font-family);
  font-weight: var(--t-tulos-pequenos-em-BOLD-font-weight);
  color: var(--roxo-vaptroxo-vapt-oficial);
  font-size: var(--t-tulos-pequenos-em-BOLD-font-size);
  letter-spacing: var(--t-tulos-pequenos-em-BOLD-letter-spacing);
  line-height: var(--t-tulos-pequenos-em-BOLD-line-height);
  font-style: var(--t-tulos-pequenos-em-BOLD-font-style);
}

.transporte-agendar .input-3 {
  width: 457px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
}

.transporte-agendar .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--bodytext-inter-14-regular-font-family);
  font-weight: var(--bodytext-inter-14-regular-font-weight);
  color: #000000;
  font-size: var(--bodytext-inter-14-regular-font-size);
  letter-spacing: var(--bodytext-inter-14-regular-letter-spacing);
  line-height: var(--bodytext-inter-14-regular-line-height);
  font-style: var(--bodytext-inter-14-regular-font-style);
}

.transporte-agendar .tabela {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--dropshadow);
}

.transporte-agendar .cabecalho {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.transporte-agendar .frame-5 {
  display: flex;
  flex-direction: column;
  width: 40px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  background-color: var(--roxo-vaptroxo-vapt-oficial);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #979797;
}

.transporte-agendar .frame-6 {
  display: flex;
  flex-direction: column;
  width: 64px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  background-color: var(--roxo-vaptroxo-vapt-oficial);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #979797;
}

.transporte-agendar .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--t-tulos-pequenos-em-BOLD-font-family);
  font-weight: var(--t-tulos-pequenos-em-BOLD-font-weight);
  color: #ffffff;
  font-size: var(--t-tulos-pequenos-em-BOLD-font-size);
  text-align: center;
  letter-spacing: var(--t-tulos-pequenos-em-BOLD-letter-spacing);
  line-height: var(--t-tulos-pequenos-em-BOLD-line-height);
  font-style: var(--t-tulos-pequenos-em-BOLD-font-style);
}

.transporte-agendar .frame-7 {
  display: flex;
  flex-direction: column;
  width: 128px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  background-color: var(--roxo-vaptroxo-vapt-oficial);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #979797;
}

.transporte-agendar .frame-8 {
  background-color: var(--roxo-vaptroxo-vapt-oficial);
  border-color: #979797;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.transporte-agendar .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--t-tulos-pequenos-em-BOLD-font-family);
  font-weight: var(--t-tulos-pequenos-em-BOLD-font-weight);
  color: #ffffff;
  font-size: var(--t-tulos-pequenos-em-BOLD-font-size);
  letter-spacing: var(--t-tulos-pequenos-em-BOLD-letter-spacing);
  line-height: var(--t-tulos-pequenos-em-BOLD-line-height);
  font-style: var(--t-tulos-pequenos-em-BOLD-font-style);
}

.transporte-agendar .frame-9 {
  display: flex;
  flex-direction: column;
  width: 104px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  background-color: var(--roxo-vaptroxo-vapt-oficial);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #979797;
}

.transporte-agendar .status-wrapper {
  display: flex;
  flex-direction: column;
  width: 80px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  background-color: var(--roxo-vaptroxo-vapt-oficial);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #979797;
}

.transporte-agendar .frame-10 {
  background-color: var(--roxo-vaptroxo-vapt-oficial);
  border-color: #979797;
  display: flex;
  flex-direction: column;
  width: 112px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.transporte-agendar .placa-carreta-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--roxo-vaptroxo-vapt-oficial);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #979797;
}

.transporte-agendar .linha {
  display: flex;
  height: 80px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.transporte-agendar .feather-icons-plus-wrapper {
  display: flex;
  flex-direction: column;
  width: 40px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  align-self: stretch;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #b3b3b3;
}

.transporte-agendar .element-wrapper {
  display: flex;
  flex-direction: column;
  width: 64px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  align-self: stretch;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #b3b3b3;
}

.transporte-agendar .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--roxo-vaptroxo-vapt-700);
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.transporte-agendar .element {
  position: relative;
  width: fit-content;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--roxo-vaptroxo-vapt-700);
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.transporte-agendar .frame-11 {
  display: flex;
  flex-direction: column;
  width: 128px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  align-self: stretch;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #b3b3b3;
}

.transporte-agendar .frame-12 {
  align-self: stretch;
  background-color: #ffffff;
  border-color: #b3b3b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.transporte-agendar .text-wrapper-10 {
  position: relative;
  align-self: stretch;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--roxo-vaptroxo-vapt-700);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.transporte-agendar .frame-13 {
  display: flex;
  flex-direction: column;
  width: 104px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  align-self: stretch;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #b3b3b3;
}

.transporte-agendar .frame-14 {
  display: flex;
  flex-direction: column;
  width: 80px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  align-self: stretch;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #b3b3b3;
}

.transporte-agendar .frame-15 {
  align-self: stretch;
  background-color: #ffffff;
  border-color: #b3b3b3;
  display: flex;
  flex-direction: column;
  width: 112px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.datepicker-button {
  background: none;
  border: none;
  padding: 0;
  margin-top: -4px;
}

.datepicker {
  padding: 0;
  border: 1px solid rosybrown;
}

.datepicker .datepicker-days table {
  width: 100%;
}

.datepicker .datepicker-days th,
.datepicker .datepicker-days td {
  padding: 9px;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.datepicker .datepicker-days th {
  background-color: #f7f7f7;
  font-weight: bold;
}

.datepicker .datepicker-days td {
  cursor: pointer;
}

.datepicker .datepicker-days td:hover {
  background-color: #eaeaea;
}

.datepicker .datepicker-days td.active,
.datepicker .datepicker-days td.active:hover {
  background-color: #007bff;
  color: #fff;
}

.datepicker .datepicker-days td.today {
  background-color: #f7f7f7;
  color: #007bff;
  font-weight: bold;
}

.datepicker .datepicker-days td.disabled,
.datepicker .datepicker-days td.disabled:hover {
  background-color: #eaeaea;
  color: #ccc;
  cursor: not-allowed;
}

.datepicker-dropdown {
  margin-left: 1.1pxpx !important;
  top: 188px !important;
}

.datepicker-dropdown:before,
.datepicker-dropdown:after {
  display: none !important; 
}

.datepicker-button {
  background: none;
  border: none;
  padding: 0;
}

.calender {
  position: absolute;
  float: right;
  top: 38px;
  right: 1rem;
}

.icone-baixo {
  position: absolute;
  float: right;
  top: 38px;
  right: 1rem;
  cursor: pointer;
}