.pedido-novo-pedido {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: flex-start;
  position: relative;
  background-color: #f0f0f0;
}

.pedido-novo-pedido a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 3rem;
}

.collapse-icon {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.pedido-novo-pedido .page {
  display: flex;
  align-items: flex-start;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.active-b {
  background: #783FA6;
}

.page {
  display: flex;
  align-items: flex-start;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.side-bar-menu {
  display: flex;
  flex-direction: column;
  width: 256px;
  align-items: center;
  position: relative;
  align-self: stretch;
  background-color: var(--roxo-vaptroxo-vapt-900);
}

.div-2:hover,
.div-2:focus {
  border-radius: 0.5rem;
  background: #572B6A;
}

.menu-button-group:hover,
.menu-button-group:focus {
  border-radius: 0.5rem;
  background: #572B6A;
}

.menu-button-single:hover,
.menu-button-single:focus{
  border-radius: 0.5rem;
  background: #572B6A;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.logo-branco {
  position: relative;
  width: 119.04px;
  height: 40px;
  object-fit: cover;
}

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.section-painel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: var(--roxo-vaptroxo-vapt-oficial);
}

.title {
  display: flex;
  align-items: flex-start;
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: var(--roxo-vaptroxo-vapt-100);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.menu-button-group {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.img {
  position: relative;
  width: 24px;
  height: 24px;
}

.div {
  flex: 1;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: var(--roxo-vaptroxo-vapt-100);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.div-2 {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.logo-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.menu-button-single {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.title-2 {
  position: relative;
  width: fit-content;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: var(--roxo-vaptroxo-vapt-300);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

.side-bar-menu.collapsed {
  width: 91px;
  transition: width 0.3s;
  animation-timing-function: ease-out;
  animation-duration: 100ms;
}

.side-bar-menu.collapsed .logo-branco {
  transform: rotate(-90deg);
  transition: transform 0.3s;
  top: 2rem;
}

.side-bar-menu.collapsed .div-2,
.side-bar-menu.collapsed .menu-button-group,
.side-bar-menu.collapsed .text-wrapper,
.side-bar-menu.collapsed .title,
.side-bar-menu.collapsed .section-painel,
.side-bar-menu.collapsed .line-sidebar,
.side-bar-menu.collapsed .div {
  display: none;
}

.side-bar-menu.collapsed .logo-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 90%;
  padding-bottom: 16px;
}

.side-bar-menu.collapsed .img {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform: rotate(180deg);
}

.side-bar-menu.collapsed .menu-button-single .title-2 {
  display: none;
}

.side-bar-menu.collapsed .logo-2 .div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.side-bar-menu.collapsed .logo-2 .menu-button-single {
  justify-content: center;
}

.side-bar-menu.collapsed .div-2:hover,
.side-bar-menu.collapsed .menu-button-single:hover {
  background: #783FA6;
  border-radius: 8px;
}

.pedido-novo-pedido .body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  overflow-y: scroll;
}

.pedido-novo-pedido .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--roxo-vaptroxo-vapt-500);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.pedido-novo-pedido .frame {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.pedido-novo-pedido .input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.pedido-novo-pedido .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--t-tulo-bold-14-font-family);
  font-weight: var(--t-tulo-bold-14-font-weight);
  color: var(--roxo-vaptroxo-vapt-oficial);
  font-size: var(--t-tulo-bold-14-font-size);
  letter-spacing: var(--t-tulo-bold-14-letter-spacing);
  line-height: var(--t-tulo-bold-14-line-height);
  font-style: var(--t-tulo-bold-14-font-style);
}

.pedido-novo-pedido .select {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  background-color: var(--gray-0210);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-0250);
  box-shadow: var(--shadow-2);
}

.pedido-novo-pedido .select-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.pedido-novo-pedido .select-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--gray-0270);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.pedido-novo-pedido .caret-down {
  position: relative;
  width: 16px;
  height: 16px;
}

.pedido-novo-pedido .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 700;
  color: var(--roxo-vaptroxo-vapt-oficial);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.pedido-novo-pedido .select-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--bodytext-inter-14-regular-font-family);
  font-weight: var(--bodytext-inter-14-regular-font-weight);
  color: var(--gray-0270);
  font-size: var(--bodytext-inter-14-regular-font-size);
  letter-spacing: var(--bodytext-inter-14-regular-letter-spacing);
  line-height: var(--bodytext-inter-14-regular-line-height);
  white-space: nowrap;
  font-style: var(--bodytext-inter-14-regular-font-style);
}

.pedido-novo-pedido .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--dropshadow);
}

.button {
  display: flex;
  width: 10.75rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  border-radius: 0.25rem;
  background: var(--Roxo-Vapt-Roxo-Vapt-600, #74377D);
}

.button span {
  color: #FFF;

  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; 
}

.pedido-novo-pedido .select-4 {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  background-color: var(--gray-0210);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-0250);
  box-shadow: var(--shadow-2);
}

.pedido-novo-pedido .button-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}


.pedido-novo-pedido .button-2 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--bodytext-inter-14-medium-font-family);
  font-weight: var(--bodytext-inter-14-medium-font-weight);
  color: #ffffff;
  font-size: var(--bodytext-inter-14-medium-font-size);
  letter-spacing: var(--bodytext-inter-14-medium-letter-spacing);
  line-height: var(--bodytext-inter-14-medium-line-height);
  white-space: nowrap;
  font-style: var(--bodytext-inter-14-medium-font-style);
}

.pedido-novo-pedido .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 700;
  color: #3e2155;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.pedido-novo-pedido .select-5 {
  display: flex;
  height: 157px;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-left: -1px;
  margin-right: -1px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-0250);
  box-shadow: var(--shadow-2);
}

.button-exportar {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.25rem;
  background: var(--Amarelo-Vapt-Amarelo-Vapt-OFICIAL, #F9B725);
  cursor: pointer;

  font-family: "Open Sans";
  color: var(--Roxo-Vapt-Roxo-Vapt-OFICIAL, #3E2155);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 29px;
}

.text-title-register {
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--roxo-vaptroxo-vapt-500);
  font-size: 20px;

}


.pedido-novo-pedido .button-3 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--t-tulos-pequenos-em-BOLD-font-family);
  font-weight: var(--t-tulos-pequenos-em-BOLD-font-weight);
  color: var(--roxo-vaptroxo-vapt-oficial);
  font-size: var(--t-tulos-pequenos-em-BOLD-font-size);
  letter-spacing: var(--t-tulos-pequenos-em-BOLD-letter-spacing);
  line-height: var(--t-tulos-pequenos-em-BOLD-line-height);
  font-style: var(--t-tulos-pequenos-em-BOLD-font-style);
}


.title-registro {
  margin-bottom: -2rem;
  margin-top: 2rem;
}

.cabecalho {
  background-color: var(--roxo-vaptroxo-vapt-oficial);
  color: #ffffff;
  font-family: var(--t-tulos-pequenos-em-BOLD-font-family);
  font-weight: var(--t-tulos-pequenos-em-BOLD-font-weight);
  font-size: var(--t-tulos-pequenos-em-BOLD-font-size);
  text-align: center;
  line-height: var(--t-tulos-pequenos-em-BOLD-line-height);

  border-radius: 8px;

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

